 p {
    font-family: Arial; 
    font-weight: lighter;
 }

 h1, h2 {
    font-family: 'Unbounded', cursive;
 }

 #maket {
    width: 100%; /* Ширина всей таблицы */
   }
   TD {
    vertical-align: top; /* Вертикальное выравнивание в ячейках */
    padding-left: 40px; /* Поля вокруг ячеек */
    padding-top: 20px;
   }
   TD#leftcol {
    width: 319px; /* Ширина левой колонки */
    background: #ccc; /* Цвет фона левой колонки */
   }
   TD#rightcol {
    background: #ffe6f0; /* Цвет фона правой колонки */
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
   }

 #skills {
    width: 100%;
   }
   TD {
    vertical-align: top;
    padding-left: 40px;
    padding-top: 20px;
   }
   TD#professionals {
    width: 50px;
   }
   TD#basics {
    width: 50px;
   }